# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# IDE
.idea/
.vscode/

# firebase-admin-sdk
mellow-mind-b65e9-firebase-adminsdk-fbsvc-232f36fe5a.json
